
.contactanos-2 {
    background-color: #364552;
    color: white;
    font-family: "iceland";
    text-align: left;
    margin: 0 auto;
    padding: 1rem 6rem 1rem 5rem;
    background-image: url("../img/img_04.jpg");
    background-size: auto;
    background-repeat: no-repeat;
}

.volver {
    font-family: "iceland";
    font-size: 25px;
    background-color: #364552;
    height: 8rem;
    text-align: center;

    .a{
        color: white;
    }
}

